@use 'variables' as *;
@use 'hero';
@use 'events';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Teko, sans-serif;
    color: $txtColor;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}